# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/crash.log
**/crash.*.log

# Local tooling
.DS_Store
.idea/
.vscode/
*.swp

# Helm
**/charts/**/charts/
**/charts/**/Chart.lock
# Kubernetes / Helm
**/kubeconfig*
**/*.secret.yaml
# Local env / credentials
.env
.env.*
.aws/