replicaCount: 2

image:
  repository: REPLACE_ME_ECR_REPO
  tag: staging

env:
  APP_ENV: "staging"

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  hosts:
    - host: staging.example.local
      paths:
        - path: /
          pathType: Prefix
