name: CI - Build Scan Push

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  id-token: write   # required for OIDC
  contents: read

env:
  AWS_REGION: ap-south-1
  # ECR_REPO should be a GitHub Repository Variable later (Settings -> Variables)
  # Example: 123456789012.dkr.ecr.ap-south-1.amazonaws.com/lab-platform-myapp
  ECR_REPO: ${{ vars.ECR_REPO }}

jobs:
  lint-and-render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Helm lint
        run: |
          helm lint apps/helm/charts/myapp
          helm template myapp apps/helm/charts/myapp -f apps/helm/envs/dev/myapp-values.yaml >/dev/null
          helm template myapp apps/helm/charts/myapp -f apps/helm/envs/staging/myapp-values.yaml >/dev/null
          helm template myapp apps/helm/charts/myapp -f apps/helm/envs/prod/myapp-values.yaml >/dev/null

  build-scan-push:
    runs-on: ubuntu-latest
    needs: lint-and-render
    steps:
      - uses: actions/checkout@v4

      # Configure AWS via GitHub OIDC (no static keys)
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tag (sha)
        id: meta
        run: echo "tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      # If you don't have an app Dockerfile yet, keep this step, and we'll add Dockerfile in Step 15.5.
      - name: Build image
        run: |
          docker build -t "${ECR_REPO}:${{ steps.meta.outputs.tag }}" .

      - name: Trivy scan (image)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: "${{ env.ECR_REPO }}:${{ steps.meta.outputs.tag }}"
          format: "table"
          exit-code: "1"
          severity: "CRITICAL,HIGH"

      - name: Push image
        if: github.ref == 'refs/heads/main'
        run: |
          docker push "${ECR_REPO}:${{ steps.meta.outputs.tag }}"
